p, h1, body, button, li {
    all: unset;
}

#root, body {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    background-color: #F5F6ED;
}

.golden {
    color: #D5AA72;
}

.golden-brown {
    color: #A66A2C;
}

.brown {
    color: #4C2818;
}

.container-fluid {
    margin-bottom: 300px;
}