.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.greeting {
    font-size: 3rem;
    margin-bottom: 0;
}

.name {
    font-size: 6rem;
}

.desc {
    margin-top: 10px;
    font-size: 1.2rem;
}

.icons {
    margin-top: 20px;
    padding: 0 12px;
}

.icon {
    transform: scale(2);
    margin-right: 25px;
}

.icon:hover {
    transform: scale(2.1);
}

@media (max-width: 576px) {
    .greeting {
        font-size: 1.5rem;

    }

    .name {
        font-size: 3rem;
    }
    .desc {
        font-size: 1rem;
    }

    .container {
        height: 50vh;
    }
}

