.title {
    font-size: 3rem;
}

.content {
    margin: auto 0;

}

.projectTitle {
    font-size: 2.5rem;
}

.projectDesc {
    font-size: 1.2rem;

}

.projectImg {
    max-width: 450px;
    backdrop-filter: grayscale(50%);
    margin: auto 0;
}